body, html
{
    margin: 0 auto;
}

/* -----------------------------------------Page accueil----------------------------------------- */

/* #cont_navbar
{
    height: 16vh;
    background-color: red;
} */

.projets
{
    height: 42vh;
}

#projets_alea
{
    background-color: lightseagreen;
}

#projets_tags
{
    background-color: lightblue;
}

#cont_aide_projets
{
    background-color: greenyellow;
}

#img_btn_recherche
{
    width: 2vw;
}

/* L'emploi de cette classe est une solution peu sure a mon avis car il se peut que le redimensionnement de l'image de cette façon donne dans quelques cas des images moches, mais le redimensionnement en php est assez compliqué je préfère me pencher sur autre chose et revenir la dessus si on a le temps */
.img_owl
{
    /* la width est d'origine de 100% ce qui n'est pas dérangeant */
    /* width: 5vw; */
    height: 25vh;
}

/* -----------------------------------------------Navbar----------------------------------------------- */

#nav_bar {
     background:  #000;
     height: 16vh;
} 

#navbarTogglerDemo03 {
	background: #000;
}

#recherche {
	margin-right: 60px;
}

.nav-link{
	color: white;
	margin-left: 50px;
}

#logo{
	margin-left: 40px;
}
/* A enlever du html pour la sémantique */
/* #logo
{
    width: 70px;
    height: 70px;
} */

#navbarTogglerDemo03
{
	z-index: 2;
	background: #000
}

/* --------------------------------------Projets-------------------------------------------------- */
.rangees_projets
{
    margin: 0 auto !important;
    margin-top: 8vh !important;
}

.img_projets
{
    height: 25vh;
}

/* -------------------------------Media-queries------------------------------------------------- */
@media (max-width: 768px)
{
#barre_recherche
{
    margin-left: 9vw;
}

#btn_recherche 
{
    margin-left: 30vw;
}

#img_btn_recherche
{
    width: 10vw;
}

.projets 
{
    height: 55vh;
}

}


/*------------------------------------------Footer---------------------------------------------------*/

.footer {
    width: 100%;
    height: 60px;
    background: #000000;
}
#lien_footer{

	 display: flex;
   justify-content: center;
   align-items: center;
   vertical-align: middle;
   margin-top: 1vh;

}	


/*______________________________page profil________________________________________________*/

#photoprofil{
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    
}

#global{
    margin-top:2%;
}

.shadow{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
}

