 #nav_bar {
     background:  #000;
     height: 16vh;
} 

#navbarTogglerDemo03 {
	background: #000;
}

#recherche {
	margin-right: 60px;
}

.nav-link{
	color: white;
	margin-left: 50px;
}

#logo{
	margin-left: 40px;
}


/*______________________________page profil________________________________________________*/

#photoprofil{
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    
}

#global{
    margin-top:2%;
}

.shadow{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
}

.card-marge{
    margin-bottom: 2%;
}
